<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
   <system.serviceModel>
    <services>
      <service name="CareerCloud.WCF.System">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/System/" />
          </baseAddresses>
        </host>
       
        <endpoint address="" binding="basicHttpBinding" contract="CareerCloud.WCF.ISystem">
         
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
     <services>
      <service name="CareerCloud.WCF.Applicant">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/Applicant/" />
          </baseAddresses>
        </host>
       
        <endpoint address="" binding="basicHttpBinding" contract="CareerCloud.WCF.IApplicant">
         
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
     <services>
      <service name="CareerCloud.WCF.Security">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/Security/" />
          </baseAddresses>
        </host>
       
        <endpoint address="" binding="basicHttpBinding" contract="CareerCloud.WCF.ISecurity">
         
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
<services>
      <service name="CareerCloud.WCF.Company">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/Company/" />
          </baseAddresses>
        </host>
       
        <endpoint address="" binding="basicHttpBinding" contract="CareerCloud.WCF.ICompany">
         
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
